# git-cliff configuration file
[changelog]
header = "# Changelog"
body = """
All notable changes to this project will be documented in this file automatically.\n
"""
footer = ""

trim = true

[git]
conventional_commits = true
filter_unconventional = false
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^docs", group = "Documentation" },
    { message = "^refactor", group = "Refactoring" },
    { message = "^perf", group = "Performance" },
    { message = "^style", group = "Style" },
    { message = "^test", group = "Tests" },
    { message = "^chore", group = "Chores" },
    { message = "^ci", group = "CI" },
]

tag_pattern = "v[0-9]*.[0-9]*.[0-9]*"
